/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Quattrocento', Serif;
    font-size: 16px;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
    text-decoration: none;
    color: #a6a2a0;
    text-decoration: underline; }

.page-foot {
    font-size: 80%;
    font-family: Quattrocento, Serif;
    color: #a6a2a0;
    text-align: center;
    margin-top: 6em;
    border-top: 1px solid lightgrey;
    padding-top: 2em;
    margin-bottom: 4em; }

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-content {
    position: relative;
    padding-left: 12.5%;
    padding-right: 12.5%;
    line-height: 1.35em; }

/* on narrow device, reduce margins */
@media (max-width: 480px) {
    .franklin-content {
        padding-left: 6%;
        padding-right: 6%; }
    }

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { font-family: 'Oswald', sans-serif; font-size: 24px; }
.franklin-content h2 { font-family: 'Oswald', sans-serif; font-size: 22px; }
.franklin-content h3 { font-family: 'Oswald', sans-serif; font-size: 20px; }

.franklin-content h1, h2, h3, h4, h5, h6 {
    text-align: left; }

.franklin-content h4 {
    font-family: Quattrocento;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0.3em;
    margin-top: 0;
    margin-bottom: 0; }

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover {text-decoration: none;}
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover {text-decoration: none;}
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover {text-decoration: none;}
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover {text-decoration: none;}
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover {text-decoration: none;}
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover {text-decoration: none;}

.franklin-content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

.franklin-content th, td{
    padding: 10px;
    border: 1px solid black;
}

.franklin-content blockquote {
    background: #eeeeee;
    border-left: 7px solid #a8a8a8;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;}

.franklin-content blockquote p {
    display: inline; }

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* spacing between bullet points */
.franklin-content li p {
        margin: 10px 0; }

.franklin-content a {
    color: #004de6;
    text-decoration: none; }

.franklin-content a:hover {
    text-decoration: underline; }

/* ==================================================================
    HYPERREFS
================================================================== */

.franklin-content .eqref a  { color: green; }
.franklin-content .bibref a { color: green; }

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

/* .franklin-content img {
    width: 70%;
    text-align: center;
    padding-left: 0; } */

.franklin-content .img-small img {
    height: 5em;
    padding-left: 0;  }

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
    display: inline-block; } /* overwrite katex settings */

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px; }

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

.franklin-content code {
    padding: 0.1em 0.2em;
    border-radius: 2px;
    font-size: 90%; }

/*
NOTE if update `highlight.pack.js`, look for `julia>`, replace by (so that pkg and shell are recognised)
return{c:[{cN:"metaj",b:/^julia>/,r:10,starts:{e:/^(?![ ]{6})/,sL:"julia"},aliases:["jldoctest"]},{cN:"metas",b:/^shell>/,r:10,starts:{e:/^(?![ ]{6})/,sL:"bash"},aliases:["jldoctest"]},{cN:"metap",b:/^\(.*\)\spkg>/,r:10,starts:{e:/^(?![ ]{6})/,sL:"julia"},aliases:["jldoctest"]}]}
*/

.hljs {
    font-size: 90%;
    line-height: 1.35em;
    border-radius: 10px; }

.hljs-metaj, .hljs-metas, .hljs-metap { font-weight: bold; }

.hljs-metaj { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
    background-color: #EEF3F5;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid #4C9CF1; }

/* Customisations */

.titlebar {
    color: rgba(255, 255, 255, 0.85);
    background-color: #A51C30;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    height:85px;
    font-family: 'Oswald', sans-serif; font-size: 24px;
}
.intro {
    color: rgba(0, 0, 0, 0.85);
    padding-top: 0.4em;
    padding-bottom: 1em;
    background-color: #d8d8d8;
}
.center {
    justify-content: center;
}
.buttons {
    padding-top: 2em;
    padding-bottom: 1em;
}

.watdis {
    padding-top: 1.5em;
    padding-bottom: 0.75em;
}
.watdis div p {
    padding-right: 2em;
}
.features div p {
    padding-right: 2em;
}

.button-red {
    background: #A51C30;
    color: white;
    border-radius: 0.3em;
}
